# Zone Identifier files (WSL)
*:Zone.Identifier

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Airflow runtime files (keep dags/, ignore the rest)
airflow/airflow.db
airflow/airflow.cfg
airflow/airflow-webserver.pid
airflow/logs/
airflow/webserver_config.py
airflow/dags/__pycache__/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
resources/dev/
resources/prod/
resources/qa/
docs/
